@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin:0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    color:#FFFFFF;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #191919;
    box-sizing: border-box;
}

header {
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 26px 50px;
    align-items: baseline;
}

.logo {
    color:#FFFFFF;
    font-size: 32px;
    font-weight: bold;
}

.nav ul {
    display: flex;
}

.nav ul li.active{
    color: #118DA8;
}

.nav ul li {
    margin: 0 20px;
    list-style-type: none;
    color: #FFFFFF;
    cursor: pointer;
}


.section-1 {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.section-1 .foto {
    overflow: hidden;
    border-radius: 20px;
}

.section-1 .foto img {
    width: 650px;
}

.section-1 .text {
    display: block;
    width: 400px;
}

.section-1 p {
    color: #FFFFFF;
    font-size: 64px;
    word-wrap: none;
}

.section-1 .text .more-text {
    margin-top: 100px;
}

.section-1 .text .more-text ul{
    display: flex;
}

.section-1 .text .more-text li{
    width: 40px;
    height: 40px;
    background-color: black;
    list-style-type: none;
    margin: 10px;
    border-radius: 50%;
}

.section-1 .text img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.section-2 {
    margin-bottom: 200px;
}

.section-2 .name {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    margin-bottom: 40px;
}

.section-2 .name p {
    font-size: 32px;
    letter-spacing: 4px;
}

.section-2 .name a{
    padding: 10px;
    background-color: #118DA8;
    border-radius: 5px;
}

.section-2 .block  {
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    margin-bottom: 50px;
}

.section-2 .block .img-block {
    width: 390px;
}

.section-2 .block .img-block img {
    width: 390px;
}

.section-2 .info-block {
    margin-left: 60px;
}

.section-2 .info-block .btn-1 {
    padding: 5px 12px;
    background-color: #191919;
    border-radius: 5px;
    display: inline-block;
}

.section-2 .info-block .t-1 {
    color: #118DA8;
    margin-top: 40px;
}

.section-2 .info-block span {
    width: 100px;
}

.section-2 .info-block .t-2 {
    color: #FFFFFF;
    font-size: 60px;
    margin-top: 10px;
    letter-spacing: 3px;
}

.section-2 .info-block .t-3 {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
    opacity: 70%;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.section-2 .info-block .btn-2 {
    padding: 10px 11px;
    background-color:#118DA8;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
}

.section-3 {
    display: block;
    margin: 0 70px;
    margin-bottom: 300px;
}

.section-3 .block-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 300px;
}

.section-3 .block-1 .info-block {
    display: block;
    width: 400px;
}

.section-3 .block-1 .info-block .circle {
    width: 100px;
    height: 100px;
    background-color: #118DA8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-3 .block-1 .info-block .circle img{
    height: 80px;
    transform: rotate(-90deg)
}

.section-3 .block-1 .info-block .t-1{
    color:#118DA8;
    font-size: 16px;
    margin-top: 25px;
}

.section-3 .block-1 .info-block .t-2{
    color: #FFFFFF;
    font-size: 50px;
    letter-spacing: 5px;
    margin-top: 5px;
}

.section-3 .block-1 .info-block .t-3{
    color: #FFFFFF;
    font-size: 15px;
    opacity: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 30px;
    font-weight: 200;
    
}

.section-3 .block-1 .info-block .t-4{
    color: #FFFFFF;
    font-size: 15px;
    opacity: 70%;
    letter-spacing: 1px;
    word-spacing: 1px;
    margin-top: 20px;
    font-weight: 200;
}

.section-3 .block-1 .foto-block img{
    width: 650px;
}

.section-3 .block-2 {
    background-color: black;
    border-radius: 20px;
    display: flex;
    padding: 30px;
}

.section-3 .block-2 .text-block {
    width: 60%;
}

.section-3 .block-2 .t-1{
    color:#118DA8;
    font-size: 16px;
}

.section-3 .block-2 .t-2{
    color:#FFFFFF;
    font-size: 75px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.section-3 .block-2 .email-block {
    width: 40%;
    display: block;
}

.section-3 .block-2 .email-block input{
    padding: 10px;
    width: 400px;
    background-color: #191919;
    border: #191919;
    border-radius: 5px;
    margin: 10px 0;
    height: 60px;
    font-size: 32px;
}

.section-3 .block-2 .email-block .btn{
    background-color: #118DA8;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

.section-4 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 70px;
    justify-content: space-between;
}

.section-4 .block {
    background-color: black;
    width: 330px;
    min-height: 250px;
    display: block;
    padding: 30px;
    border-radius: 30px;
    margin:5px 0;
}

.section-4 .block  .stars {
    display: flex;
}

.section-4 .block  .stars .star{
    width: 17px;
    height: 17px;
}

.section-4 .block .t-1 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 10px;
}

.section-4 .block .t-2 {
    font-size: 24px;
    font-weight: 200;
    opacity: 70%;
    margin-top: 15px;
}


footer {
    display: flex;
    justify-content: space-between;
    margin: 70px;
    margin-top: 300px;
}

footer .block-1 .logo{
    font-size: 36px;
}

footer .block-1 li{
    background-color: black;
    width: 30px;
    height: 30px;
    margin: 10px;
}

footer .block-1 ul{
    display: flex;
    list-style-type: none;
}

footer .block-2 ul{
    display: block;
    list-style-type: none;
}

footer .block-2 li {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0;
}

footer .block-3 ul{
    display: block;
    list-style-type: none;
}

footer .block-3 li {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0;
}

footer .block-4 ul{
    display: flex;
    list-style-type: none;
}

footer .block-4 li {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

footer .block-4 li img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}